---
http_interactions:
- request:
    method: get
    uri: https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/releases/?product_version=ceph-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 26 Sep 2017 08:04:24 GMT
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"release_id":"ceph-1.3@rhel-7","short":"ceph","version":"1.3","name":"Red
        Hat Ceph Storage","base_product":"rhel-7","active":true,"product_version":"ceph-1","release_type":"ga","compose_set":[],"integrated_with":null,"sigkey":null,"allow_buildroot_push":true,"allowed_debuginfo_services":[],"allowed_push_targets":[],"bugzilla":null,"dist_git":null,"brew":null,"product_pages":null,"errata":null},{"release_id":"ceph-1.3-updates@rhel-7","short":"ceph","version":"1.3","name":"Red
        Hat Ceph Storage","base_product":"rhel-7","active":true,"product_version":"ceph-1","release_type":"updates","compose_set":[],"integrated_with":null,"sigkey":null,"allow_buildroot_push":false,"allowed_debuginfo_services":[],"allowed_push_targets":[],"bugzilla":null,"dist_git":null,"brew":null,"product_pages":null,"errata":null}]}'
  recorded_at: Wed, 03 Jan 2018 08:14:48 GMT
[...]
- request:
    method: get
    uri: https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/releases/?product_version=ceph-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 26 Sep 2017 08:04:24 GMT
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":2,"next":null,"previous":null,"results":[{"release_id":"ceph-1.3@rhel-7","short":"ceph","version":"1.3","name":"Red
        Hat Ceph Storage","base_product":"rhel-7","active":true,"product_version":"ceph-1","release_type":"ga","compose_set":[],"integrated_with":null,"sigkey":null,"allow_buildroot_push":true,"allowed_debuginfo_services":[],"allowed_push_targets":[],"bugzilla":null,"dist_git":null,"brew":null,"product_pages":null,"errata":null},{"release_id":"ceph-1.3-updates@rhel-7","short":"ceph","version":"1.3","name":"Red
        Hat Ceph Storage","base_product":"rhel-7","active":true,"product_version":"ceph-1","release_type":"updates","compose_set":[],"integrated_with":null,"sigkey":null,"allow_buildroot_push":false,"allowed_debuginfo_services":[],"allowed_push_targets":[],"bugzilla":null,"dist_git":null,"brew":null,"product_pages":null,"errata":null}]}'
  recorded_at: Wed, 03 Jan 2018 08:14:48 GMT
recorded_with: VCR 3.0.3
