---
http_interactions:
- request:
    method: get
    uri: https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/variant-cpes/?release=dp-1.0&variant_uid=Client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 11 Jan 2018 13:34:54 GMT
      Allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":5,"release":"dp-1.0","variant_uid":"Client","cpe":"cpe:/asdff"}]}'
  recorded_at: Thu, 11 Jan 2018 13:34:54 GMT
recorded_with: VCR 3.0.3
